.fundo{
    background-color: #54b3d6;
    padding-bottom: 8%;
    padding-top: 2%;
    margin-top: 29%;
}

.fundo > img{
    width: 5%;
}

span{
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background-color: #54b3d6; */
    background-image: url(../img/imagem.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

footer{
    background-color: black;
    padding: 2%;
}

.acao {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 30px;    
    color: black; 
    font-family: Arial;
    font-size: 15px;
    font-weight: 100;
    padding: 1%;
    background-color: #D9D9D9;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 15%;
    margin-left: 20%;
} 

.right{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 30px;    
    color: black; 
    font-family: Arial;
    font-size: 15px;
    font-weight: 100;
    padding: 1%;
    background-color: #D9D9D9;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 15%;
    margin-right: 20%;
}

.btn:link,
.btn:visited {
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: relative;
}

.btn:hover {
transform: translateY(-3px);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
transform: translateY(-1px);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
background-color: #E3E3E3;
color: black;
}

.btn::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 100px;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s;
}

.btn-white::after {
background-color: #D9D9D9;
}

.btn:hover::after {
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}

.btn-animated {
animation: moveInBottom 5s ease-out;
animation-fill-mode: backwards;
}

@keyframes moveInBottom {
0% {
    opacity: 0;
    transform: translateY(30px);
}
    
100% {
    opacity: 1;
    transform: translateY(0px);
}
}