body{
    background-color: #D9D9D9;
}
.content{
    background-color: #54b3d6;
    padding-top: 1%;
    padding-bottom: 3%;
}

h2 {
    margin-left: 25%;
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: black;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #D9D9D9; 
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}

.button:hover {
    background-color: #D9D9D9; 
    color: black;
}